<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 指定工作空间，要与接口名相同，源代码没有去看，猜测应该是通过"这里的namespace.下边方法的id"来定位方法的 -->
<mapper namespace="com.zxd.mallback.mapper.UserMapper">

    <!-- insert user -->
    <insert id = "insert" parameterType="com.zxd.mallback.bean.User">
        insert into user(id,nickname,phone,email,password) values(#{id},#{nickname},#{phone},#{email},#{password});
    </insert>

    <!-- update user -->
    <update id="update" parameterType="com.zxd.mallback.bean.User">
        update user set nickname=#{nickname} , phone=#{phone} , email = #{email}, password = #{password} where id=#{id}
    </update>

    <!-- find user -->
    <select id="find" parameterType="int" resultType="com.zxd.mallback.bean.User">
        select id,nickname,phone,email,password from user where id=#{id}
    </select>

    <!-- delete user -->
    <delete id="delete" parameterType="int">
        delete from user where id=#{id}
    </delete>
</mapper>